@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #28282B;
    /*background-color:aqua;*/
}

.grocery-container {
    background-color: #ddffda;
    width: 440px;
    min-height: 100vh;
}

.user-list-title {
    color: #ff6200;
    font-weight:500;
}

/*sets the size of the new items from user*/
#newItem text {
    font-size: 20px;
}