@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #28282B;
}


/*navbar*/

.header_logo {
    width:250px;
    height:55px;
}

@media screen and (max-width: 800px) {
    .header_logo {
        width: 220px;
        height: 55px;
    }
}

#nav-bar {
    position:relative;
    top: 0;
    z-index :10;
}

.navbar {
    padding-top: 5px;
    padding-left:20px;
    padding-right:20px;
}
.navbar-brand {
    text-transform:uppercase;
    font-weight:500;
}

.navbar-brand .imglogo {
    width:50px;
    height:50px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    font-weight:500;
}
.fa-bars {
    font-size:25px !important;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
   margin:2px;
   border-radius:5px;
}

.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link:hover {
     background-color:#FFAC1C;
}

/*sets a background color for dropdown*/
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .dropdown-item:hover{
     background-color:#FFAC1C;
}

.carousel-caption {
    position: absolute;
    left: 0;
    width: 30%;
    top: 20%;
    margin-left: 10%;
    color: #3B3B3B;
}

@media screen and (max-width: 700px) {
    .carousel-caption {
        top: 10%;
        font-size: 12px;
        width: 40%;
    }
}

@media screen and (min-width: 701px) {
    .carousel-caption {
        top: 5%;
        font-size: 16px;
        width: 40%;
    }
}

.carousel-caption .carousel-header-caption {
    font-size:38px;
    text-align:left;
    font-weight:600;
}

.carousel-caption .carousel-inner-caption {
    text-align:justify;
}

.carousel .carousel-indicators li {
    background-color: gray;
}

.carousel .carousel-indicators li.active {
        background-color: #00D100;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300D100' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300D100' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


#header-carousel {
    height: 100%;
}

#carousel1 {
    height: 500px;
    background-image: url('../../../images/HeadersAndLogo/banner.jpg');
    background-position: center center;
    background-size: cover;
}

#carousel2 {
    height: 500px;
    background-image: url('../../../images/HeadersAndLogo/header-2.JPG');
    background-position: center center;
    background-size: cover;
}

#carousel3 {
    height: 500px;
    background-image: url('../../../images/HeadersAndLogo/personheader.jpeg');
    background-position: center center;
    background-size: cover;
}

/*-------------top picks ------------------*/


.top_picks{
    background-color: #ddffda;
}

.top_picks img {
    background-color:white;
    border-radius:8px;
    width:500px;
    height:200px;
}

@media screen and (max-width: 700px) {
    .top_picks img {
        width: 400px;
        height: 300px;
    }
}

.top_picks_title {
    padding-top: 30px;
    text-align: center;
}

@media screen and (min-width: 801px) {
    .top_picks_title h2 {
        padding-top: 150px;
    }
}

@media screen and (max-width: 800px) {
    .top_picks_title h2 {
        padding-top: 160px;
    }
}

/*adds a shadow in category-column*/
@media screen and (max-width: 800px) {
    .category-column:hover {
        -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        border-radius: 4px;
    }
}


.category-column:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .home-category {
        margin-top:10px;
    }
}


@media screen and (max-width: 800px) {
    #homevid {
        width:550px;
    }
}


@media screen and (max-width: 700px) {
    #homevid {
        width: 420px;
    }
}



@media screen and (max-width: 800px) {
    #whyChoose {
        width: 320px;
    }
}


/*******************to adjust the positioning of the text in header **********/
#banner-header {
    background: url('../../../images/HeadersAndLogo/banner-header.JPG') no-repeat center;
    background-size: cover;
    height: 60vh;
    width: 100%;
    max-width: auto;
}

.banner_caption {
    position: absolute;
    left: 0;
    width: 50%;
    top: 10%;
    margin-left: 15%;
    color: slategray;
}


.about_us_pic img{
    width:100%;
    height:80%;
}

.missionclass {
    background-color: #ddffda;
}

.products_card{
    width:230px;
}


/*set product img sizes and shadow effect*/
.product-category .products_card img{
    width:200px;
    height:200px;
}

.product-category .products_card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}



@media screen and (max-width: 600px) {
    .products_card {
        width: 100%;
    }
}



/*********************Footer******************************************/
.bg-custom {
    background: #5F8575;
    color: white;
}

#thankyoumessage {
    display:none;
}

#errormessage {
    display:none;
    background-color:red;
    color: white;
    width: 20%;
}

@media screen and (max-width: 900px) {
    #errormessage {
        display:none;
        background-color: red;
        color: white;
        width: 100%;
    }
}

/********************Contact Us****************************************/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size:36px;
}
.type {
    position:relative;
}

/*actual cursor*/
.type::after {
    content:'';
    width:1px;
    border-right: 4px solid black;
    height:100%;
    margin:0.5rem;
    animation:blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

select,
select option {
    color: #676767;
}

/*Change the color of category in contact us page*/
select:invalid,
select option[value=""] {
  color: gray;
}

@media screen and (max-width:700px) {
    .map-container iframe {
        width: 500px;
    }
}

@media screen and (min-width:701px) {
    .map-container iframe {
        width: 720px;
    }
}

@media screen and (max-width:600px){
    .map-container iframe{
        width:450px;
        height:400px;
    }
}